@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong>MyBlog</strong> n'est autre qu'un site de présentation afin de montrer certaines compétences en <em>ASP.Net</em> et n'a aucunement un but lucratif. Il est cependant possible qu'il évolue dans le temps via différentes versions.</p>
