@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone"><i class="glyphicon glyphicon-earphone"></i></abbr>
    06.83.12.69.24
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:viriato.ferreira44@gmail.com">Contactez-moi par mail</a><br />
</address>