@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<small>Les pigeons voyageurs n'étant plus à la mode, nous ne vous proposerons que deux modes de contact.</small>
<br />
<address>
    <abbr title="Phone"><i class="glyphicon glyphicon-earphone"></i></abbr>
    06.83.12.69.24
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:viriato.ferreira44@gmail.com">Contactez-moi par mail</a><br />
</address>