@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>MyBlog</h1>
    <p class="lead">MyBlog est un simple site de présentation d'utilisation d'ASP.Net MVC 5 utilisant notamment GridMvc, Bootstrap, Javascript et EntityFramework.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
   
    @{Html.RenderAction("_LastArticles", "Article");}

</div>