body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Baloo Bhai', cursive;
    
}

.navbar-right{
    margin-right: 0;
}


/*Bouton de gestion ADMIN*/
#gestion-btn{
    color: darkorange;
}

#gestion-btn:hover{
    color: red;
}

/*-------------------Home/ Articles------------------------------*/
main h2{
    border-bottom: 5px solid rgba(33, 32, 32, 0.80);
    border-bottom-right-radius: 12px;
}

#ArtHome{
    display: flex;
    flex-wrap:wrap;
}

/*Home/Last Articles*/
.LastArt{
    margin: 2em 0;
    padding: 1.2em;
}

.LastArt header, .LastArt section, .LastArt aside{
    margin: 2em 0;
}

/*Home/Last Articles/ img*/
.LastArt header img{
    height: 14em;
    width: 100%;
    text-align: center;
}


/*Home/Last Articles/ contenu*/
.LastArt section p{
    height: 7em;
    overflow: hidden;
}

footer{
    /*position: absolute;*/
    bottom:0px;
}
/*-------------------------------Fin Home/ Articles---------------------------------------*/


/* ---------------------------barre cookie ---------------------------------------*/
#cookies-banner {
    display: none;
    background: none repeat scroll 0% 0% #062E41;
    padding: 0px 2.5%;
}

    #cookies-banner span {
        display: inline-block;
        margin: 0px;
        padding: 7px 0px;
        color: #EEE;
        line-height: 23px;
    }

    #cookies-banner #reject-cookies {
        display: inline-block;
        background: none repeat scroll 0px 0px transparent;
        border: medium none;
        text-decoration: underline;
        margin: 0px;
        padding: 0px;
        color: #EEE;
    }

    #cookies-banner a {
        display: inline-block;
        color: #EEE;
        padding: 4px 13px;
        margin-left: 15px;
        background: none repeat scroll 0% 0% #084561;
        text-decoration: none;
    }

    #cookies-banner #accept-cookies {
        text-decoration: none;
        background: none repeat scroll 0% 0% #EEE;
        color: #084561;
        padding: 4px 15px;
        border: medium none;
        transition: #000 0.15s ease 0s, color 0.15s ease 0s;
        margin-top: 3px;
    }
/* ----------------------------fin barre cookie-------------------------- */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*--------- Page de détails d'un article-----------*/
#artOptions {
    float: right;
}

.img-responsive {
    width: 100%;
}

#artDetails{
}

#comments {
    display: flex;
    flex-direction: column;
}

#comments article {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 2em 0;
     border-bottom: 1px solid #808080;
}

#comments article section {
    width: 70%;
}



/*------------Fin Page de détails d'un article--------------*/

#titleArt:hover{
    color: red;
}